/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fd4, #28b485d4),
    url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  position: relative;

  clip-path: polygon(0 0, 100% 0%, 100% 75vh, 0% 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* untuk menghilangkan shake pada saat animasi pada heading  */
  backface-visibility: hidden;
}

.heading-primary-main {
  display: block;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 35px;
  animation: 2s moveInLeft ease-in-out;

  /* 
  animation-delay : 2s *untuk menambahkan waktu delay sebelum animasi berjalan
  animation-iteration-count : 3 *untuk menambahkan berapakali  animasi berjalan sebanyak jumlah
  animation-timing-function : ease/ease-in/ease-in-out/dll. 
  */
}

.heading-primary-sub {
  display: block;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 17.4px;
  animation: 2s moveInRight ease-in-out;
  margin-bottom: 60px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn-animation {
  animation: moveInBottom 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.3s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
