/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {
  --color-primary: #eb2f64;
  --color-primary-dark: #ba265d;
  --color-primary-light: #ff3366;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

$bp-largest: 75em; //1200px / 16 = 75
$bp-large: 68.75em; //1100px / 16 = 68.75
$bp-medium: 56.25em; //900px / 16 = 56.25
$bp-small: 37.5em; //600px / 16 = 37.5
$bp-smallest: 31.25em; //500px / 16 = 31.25

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  // background-size: cover;
  // background-repeat: no-repeat;
  min-height: 100vh;
}
