.container {
  max-width: 120rem;
  margin: 14rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-grey-light-1);
  flex: 1;
}

.detail {
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
}

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  padding: 3rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.user-review {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
