* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This define 1rem
  font-size: 62.5%; //1 rem = 10/16 = 62.5%

  // Set Responsive design from bigger to smaller

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px/16px = 56.25%
  }
  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px/16px = 50
  }
  // @include respond(phone) {
  //   font-size: 30%; // 1rem = 4.8px/16px = 30
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12/16 =75
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0rem;
  }
}
